<html>
<head>
  <meta name="google-site-verification" content="YoRSw6dbGMQKnIvLNsiRUjjbwBwiGjoc3Mp-wBfW2fg" />
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script src="/js/bundle.js"></script>
  <script>
  history.pushState({ page: 1 }, "title 1", "#");
      window.onhashchange = function (event) {
          window.location.hash = "nbb";
  };

  let user = <%- JSON.stringify(userName) %>;
  let referenceData = <%- JSON.stringify(referenceData) %>;
  function initAutocomplete() {
     for(i in referenceData.autoCompleteFields){
       var autoComplete =  new google.maps.places.Autocomplete(
           /** @type {!HTMLInputElement} */(document.getElementById(referenceData.autoCompleteFields[i])),
           {types: ['geocode']});
       autoComplete.addListener('address_changed', function(){
             var place = autoComplete.getPlace();
             document.getElementById(referenceData.autoCompleteFields[i]).value = place.formatted_address;
           });
     }
  }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfvDcRkb_SBkSGyvmNldHKeSE_Pz93yyw&libraries=places&callback=initAutocomplete"
  async defer></script>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body class="home-body" >
  <table border="0" align="center" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td  colspan ="5" >
        <h3>Find My Den</h3>
      </td>
    </tr>
    <tr>
      <td class='alnright' colspan ="5">
      <a href="/getAboutUs" class="home-header-href">About Us</a>
      &nbsp;&nbsp;<a href="/getReportErrorPage" class="home-header-href">Report Error?</a>
      &nbsp;&nbsp;<a href="/getUserAccount" class="home-header-href">Edit account?</a>
      &nbsp;&nbsp;<a href="/logout" class="home-header-href">Log Out</a>&nbsp;
    </td>
    </tr>
    <tr>
      <td colspan = "5">
      <ul class="tab" id="tabList">
        <li><a href="javascript:void(0)" class="tablinks active" onclick="openTab(event, 'userPreferencesDiv')" id="userPreferences">User Preferences</a></li>
      </ul>
    </td>
    </tr>
    <tr>
      <td >
        <div id="userPreferencesDiv" class="tabcontent">
          <form >
            <div align = "center" id="loader"></div>
            <table border="0" align="center" class="borderedTable">
              <tr>
                <td>
                    <table width="100%" cellpadding="7" cellspacing="0" border="0">
                      <tr>
                        <td width="50%" align="left"><label>City</label></td>
                        <td width="50%"><div  class="dropdown"><select id="city" style="width:150px"></select></div></td>
                      </tr>
                      <tr>
                        <td width="50%" align="left"><label>Professional Point of Interest</label></td>
                        <td width="50%"><input type="text" size="61" name="workAddress" id="work_commute" /></td>
                      </tr>
                      <tr>
                         <td width="50%" align="left"><label>Social Point of Interest</label></td>
                         <td width="50%"><input type="text" size="61" name="socialAddress" id="social_commute" /></td>
                     </tr>
                      <!--
                      <tr>
                        <td width="50%" align="left"><label>Transportation Mode</label></td>
                        <td width="50%"><label style="font-size:.6em;font-weight:0"  id ="mode"></td>
                      </tr>
                      -->
                      <tr>
                        <td width="50%" align="left"><label>Priority Order [Drag to edit]</label></td>
                        <td width="50%"><ul id="priority_order"></ul></td>
                      </tr>
                      <tr>
                        <td colspan="2" ><center><button class ="box-button" id="searchBuildings"/> Search</button></center></td>
                      </tr>
                  </table>
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div id="searchResultsDiv" class="tabcontent">
        <div class ="search-results-filters">
          <table width="100%">
          <tr >
            <td align = "left" colspan ="2">
              <div id="searchFiltersHeaderDiv">
              <font size="4">
                <b> Filters</b>
                &nbsp;
                <a href="javascript:void(0)" class = "search-results-href" id="saveFilters">[Save]</a>
              </font>
              </div>
            </td>
          </tr>
          <tr >
            <form >
            <td align ="left" colspan="2">
              <div id ="searchFiltersFormDiv">
              <font size="2">
                <b>Work Commute Time: <= </b><input type="text" size="4" id ="workCommuteTimeFilter"/>mins
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>Social Commute Time: <= </b><input type="text" size="4" id ="socialCommuteTimeFilter"/>mins
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>Sort: </b><select style="width: 150px;" id ="sortFilter"></select>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <b>Yelp Reviews: >=</b><input type="text" size="4" id ="yelpReviewFilter"/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>Yelp Ratings: >=</b><select style="width: 65px;"  id ="yelpRatingFilter">
                  <option value="0">None</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select> stars
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>View: </b><input type="radio" name="view" id="listViewFilter" value="listView"> List <input name="view" type="radio" id ="mapViewFilter" value ="mapView"> Map
              </div>
              </td>
          </form>
          </tr>
          <tr>
            <br>
          </tr>

          <tr >
            <td colspan="4" >
              <div id="listDiv" class="desc" style="width: 100%; height: 700px;">
                <table id="dataTable" width="100%" ></table>
              </div>
              <div id="mapDiv" class="desc" style="width: 100%; height: 700px;">
              </div>
              <div id="buildingDataDiv" class="desc" style="width: 100%; height: 700px;">
                <table width="100%">
                  <tr>
                    <td>
                      <table border="1px" align="center" cellpadding="0" cellspacing="0" width="100%" height = "500px">
                        <tr>
                          <td width ="50%" valign="top">
                            <table border="0"  cellpadding="0" cellspacing="0" width="100%" >
                              <tr>
                                <td align="left">
                                  <h4><label id="selectedBuildingName"></label>&nbsp;&nbsp;<a href="javascript:void(0)" class = "search-results-href" onclick="showSearchResults()" >[Back]</a></h4>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <b>Address: </b><label id="selectedBuildingAddress"> </label>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <b>Yelp Rating: </b><label id="selectedBuildingRating"> </label>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <b>Yelp Reviews: </b><label id="selectedBuildingReviews"> </label>
                                </td>
                              </tr>
                              <tr >
                                <td>
                                  <b>Is Business Claimed?</b>: <label id="selectedBuildingClaimFlag"> </label>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <b>Bars [<img src ="/img/bar.png" style="width:20px"/>]</b>
                                  <br>
                                  <a id="bars1"></a>&nbsp;&nbsp;<a id="bars2"></a>&nbsp;&nbsp;<a id="bars3"></a>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <b>Gyms [<img src ="/img/gym.png" style="width:20px"/>]</b>
                                  <br>
                                  <a id="gyms1"></a>&nbsp;&nbsp;<a id="gyms2"></a>&nbsp;&nbsp;<a id="gyms3"></a>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <b>Grocery Stores [<img src ="/img/convenience.png" style="width:20px"/>]</b>
                                  <br>
                                  <label id="grocery_or_supermarket_text"></label>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <b>Closest Train Station [<img src ="/img/rail.png" style="width:20px"/>]: </b>
                                  <br>
                                  <label id="train_station_text"></label>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <b>Closest Bus Station [<img src ="/img/rail.png" style="width:20px"/>]: </b>
                                  <br>
                                  <label id="bus_station_text"></label>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <b>Social Point of Interest [<img src ="/img/social.png" style="width:20px"/>]: </b>
                                  <br>
                                  Address: <label id="socialAddress"> </label>
                                  &nbsp;&nbsp;
                                  Time: <label id="selectedBuildingSocialCommuteTime"> </label>mins
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <b>Professional Point of Interest [<img src ="/img/work.png" style="width:20px"/>]: </b>
                                  <br>
                                  Address: <label id="workAddress"> </label>
                                  &nbsp;&nbsp;
                                  Time: <label id="selectedBuildingWorkCommuteTime"> </label>mins
                                </td>
                              </tr>
                            </table>
                          </td>
                          <td>
                            <div id="BuildingMap" style="width: 100%;height:600px"></div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>

            </td>
          </tr>
      </table>
      </div>
      </div>
    </td>
    </tr>
  </table>
<script>
function showSearchResults(){
  $("#searchFiltersHeaderDiv").show();
  $("#searchFiltersFormDiv").show();
  /*
  $( "#sortFilter" ).prop( "disabled", false );
  $( "#yelpReviewFilter" ).prop( "disabled", false );
  $( "#yelpRatingFilter" ).prop( "disabled", false );
  $( "#workCommuteTimeFilter" ).prop( "disabled", false );
  $( "#listViewFilter" ).prop( "disabled", false );
  $( "#mapViewFilter" ).prop( "disabled", false );
  */
  $("#buildingDataDiv").hide();
  if(document.getElementById("listViewFilter").checked){
    $("#listDiv").show();
  } else {
    $("#mapDiv").show();
  }
}

function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
}
/*
function changeModeLabel(element){
  if(element.value == "San Francisco") {
    document.getElementById("mode").innerHTML = "Driving";
  } else {
    document.getElementById("mode").innerHTML = "Public Transportation";
  }
}
*/
</script>

<footer>
  <img src="/img/yelp_logo.png" height="60" width="90">
</footer>
</body>
</html>
