<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Find My Den - Login</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
	  <link rel="stylesheet" href="/css/animate.css">
	  <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body class = "verify-user-body">
  <form action="/login" method="post" >
	<div class="container">
		<div class="top">
      <h1 id="title" ><span id="logo">Find My Den</span></h1>
		</div>
		<div class="login-box">
			<div class="box-header">
				<h2>Congrats</h2>
			</div>
      <br/>
			<label>
        Your account has been verified.
        Please click on the below to proceed.
      </label>
			<br/>
			<br/>
      <br/>
      <a href="/login" class="small">Log In?</a>
      &nbsp;&nbsp;
      <a href="/forgotPassword" class="small">Forgot password?</a>
		</div>
	</div>
  </form>
</body>
</html>
