files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
          ssl_prefer_server_ciphers   on;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFMjCCBBqgAwIBAgIIX1O3TXl0ppEwDQYJKoZIhvcNAQELBQAwgbQxCzAJBgNV
      BAYTAlVTMRAwDgYDVQQIEwdBcml6b25hMRMwEQYDVQQHEwpTY290dHNkYWxlMRow
      GAYDVQQKExFHb0RhZGR5LmNvbSwgSW5jLjEtMCsGA1UECxMkaHR0cDovL2NlcnRz
      LmdvZGFkZHkuY29tL3JlcG9zaXRvcnkvMTMwMQYDVQQDEypHbyBEYWRkeSBTZWN1
      cmUgQ2VydGlmaWNhdGUgQXV0aG9yaXR5IC0gRzIwHhcNMTcwNDA5MTYzNDAxWhcN
      MTgwNDA5MTYzNDAxWjA7MSEwHwYDVQQLExhEb21haW4gQ29udHJvbCBWYWxpZGF0
      ZWQxFjAUBgNVBAMTDWZpbmRteWRlbi5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IB
      DwAwggEKAoIBAQDAHyqr2vIzIZ45EXO2/Oc26yk30elTAVvEGY5lav3wBw5zyGhk
      SMElfRNqWUgUThpIGiDO2nJdGmAKq0XUqJD3VxT7yRsf3UmWCRk5pXCf7M8dwwZw
      zTqOuI6ZE1ELqkaEFYVppsKk0L0dEGjTquOmTKnGlZfvuUSJhN7thoE2sAffCkWS
      KBh5UDoCzSk5oRJATul6+7YeVArRHsC6WZ9Kpajhuauz1jwmH6X+vfHTdxk15Raq
      YvndxqaM7uqB7oLK4dmbDou/QqMNONDBujrpAaPxZjhyyNQmSNdUj1LOWlRnGS6v
      LPCTarHK6F8Hordp7/bYX+3PVsgLY49XWuplAgMBAAGjggG+MIIBujAMBgNVHRMB
      Af8EAjAAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAOBgNVHQ8BAf8E
      BAMCBaAwNwYDVR0fBDAwLjAsoCqgKIYmaHR0cDovL2NybC5nb2RhZGR5LmNvbS9n
      ZGlnMnMxLTQ2OS5jcmwwXQYDVR0gBFYwVDBIBgtghkgBhv1tAQcXATA5MDcGCCsG
      AQUFBwIBFitodHRwOi8vY2VydGlmaWNhdGVzLmdvZGFkZHkuY29tL3JlcG9zaXRv
      cnkvMAgGBmeBDAECATB2BggrBgEFBQcBAQRqMGgwJAYIKwYBBQUHMAGGGGh0dHA6
      Ly9vY3NwLmdvZGFkZHkuY29tLzBABggrBgEFBQcwAoY0aHR0cDovL2NlcnRpZmlj
      YXRlcy5nb2RhZGR5LmNvbS9yZXBvc2l0b3J5L2dkaWcyLmNydDAfBgNVHSMEGDAW
      gBRAwr0njsw0gzCiM9f7bLPwtCyAzjArBgNVHREEJDAigg1maW5kbXlkZW4uY29t
      ghF3d3cuZmluZG15ZGVuLmNvbTAdBgNVHQ4EFgQUSyfcZXLwzqD04n+nse9gl8Dr
      kuUwDQYJKoZIhvcNAQELBQADggEBAGfKH/KrTzsVdoZGBBpi7eLQ89mXcErHxzFK
      w5M+OhSW3uRsldmTzz9JZHTf6SxUBLor3xAsloJ1qwDa2Kn8D4+KvU2JCcck+jE9
      92FyO+IpVybXm0dl+deC0tAiMcxutGh6oVsPs0NeFhyArZKdphCOBwjjQ4zet7Er
      ApYgunDGXqJeQR62KCbs6zzqbISZlv3HqoT+ZnO50dhfq5BdvcoaoF7SskI78ej4
      QsBwcyamkUKNhOtHDd7rVfjAITA87FFcoRTXP2jBA97wxXnXb2+fElWiA8+IDyg+
      RpDqSBOZS7jjRZBmF/Y/IjQqVtt3Wp/jbYos07L7P6n1xAsFDDg=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAwB8qq9ryMyGeORFztvznNuspN9HpUwFbxBmOZWr98AcOc8ho
      ZEjBJX0TallIFE4aSBogztpyXRpgCqtF1KiQ91cU+8kbH91JlgkZOaVwn+zPHcMG
      cM06jriOmRNRC6pGhBWFaabCpNC9HRBo06rjpkypxpWX77lEiYTe7YaBNrAH3wpF
      kigYeVA6As0pOaESQE7pevu2HlQK0R7AulmfSqWo4bmrs9Y8Jh+l/r3x03cZNeUW
      qmL53camjO7qge6CyuHZmw6Lv0KjDTjQwbo66QGj8WY4csjUJkjXVI9SzlpUZxku
      ryzwk2qxyuhfB6K3ae/22F/tz1bIC2OPV1rqZQIDAQABAoIBAQCZ3lxGl2wzF1Gp
      UxjiDVsA2QaB9lRwbj4YqH8rKq2Gd6BTisZQyxQl+i56llbsLEFQTdzIzpuZhW42
      HUYoM3knH09m+III2yn8R/0z9hRlgTvAElouLbAgbh+G6bmXJiCj2LipDS4G4kcT
      5/iMzejVX8D5kwXEsRT7Lrd8dKU4LhAYUX6dbcspqTaJLFeUrnsTO2VYWh2jb8SS
      p11kTwaPWfrEMVSKHdfGna+bxDk7/GkuzyEl5M+/WZ2Hnr+LGXosa6LTv5o9V1o4
      AaGMP/n6T4r9lUr9Qbhspiee+4yawbwLq0sPtc5W2oesShXZZUUIHeRMqu5+Uz6U
      ZsJp/9sBAoGBAObzNMPeDAXg/rlOZ8f3Anusp1x8oFgieSKN5f3JzrnGge9aihwK
      fF2vg4yvKFw7zBWPOSWme1RzlVMnSRG0uQsGPMbbdOOLFzx2ZkMWOtJgWDCvkQRb
      Wtlwv0+qR9PVwaOhNsZa7qLZsNSKW0XSr+O2K+06qfvh2+rHT7dl1YadAoGBANT1
      0KJx/aykeIUuHpjHSqkkJbHPB7isswfHFbkC0hdZw0zA6cDszWS0O3V3IVzvyHyr
      qhuZUQHoQS62tRFyhmfH5N8/QbgjYkNH1JMkkIHOf1zL6u8YL9+PbFLFJcQ8sRU4
      GDhcWt/npYD6sxeNE3Q8oNJGghz1eGHaMcbFiURpAoGAFB5JkWptZ7Gy3teaqMu2
      tqlSpvbgTO0r2ju8NkB3Nq25Me2ULF8peEvKzN2RSX+YBqTEWKhJBBFRh73bWqSA
      nho7/yKs6wl5y7WQsPVlyF/GLu+MVXHT1y9AKyNtQGHVjXiEugC/2wXVpp4q10lE
      MzTyXKcImb2SF8CnDBXd5O0CgYAAh5f8P3JVEpemJSY4VQ6PeyKI3a30PKG5XDpm
      mmYxXqzIrRYnv68HGBepxCEWHRaPkNG8fdYgvhYjaprqrzE8Ytfj4kFkltnwtuYF
      c6rUV9IjRfKQo6vCz5WCYzEj2s7J8bjFsx0av3W+62C0p0osGNaBj2FVdxrUi3li
      OC2OOQKBgE8dJSVIvx/CFql86+cp21fOfWJspCJqDbn4cijGcq6BLS0j3YzNxoUL
      qdShPVwkrppTdbpQqRofS10pKPug7Bzm4iDFb1ZdsTBRyLlL4Hq8kxHunz02s4wW
      HZYb8jIV46xUuglaONevBxdKBTeQftqUNqMYthRNzoC1VzzB8O9K
      -----END RSA PRIVATE KEY-----
Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
